<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.sourceforge.actool.jdt.build.ImplementationModelBuilder"
         name="Architectural Model Builder [ACT]"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.sourceforge.actool.jdt.build.ImplementationModelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="net.sourceforge.actool.jdt.ACNatureJDT"
         name="Architecture Consistency Nature [JDT]"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sourceforge.actool.jdt.ACNatureJDT">
         </run>
      </runtime>
      <builder
            id="net.sourceforge.actool.jdt.build.ImplementationModelBuilder">
      </builder>
   </extension>
   <extension
         point="net.sourceforge.actool.model.ia">
      <model
            class="net.sourceforge.actool.jdt.model.JavaModelFactory"
            id="net.sourceforge.actool.model.ia.jdt">
      </model>
   </extension>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalSorters">
	 <proposalSorter
	  id="org.eclipse.jdt.ui.ViolationSorter"
	  name="by Architectural consistency"
	  class="net.sourceforge.actool.jdt.proposals.ArcitechtualConsistencySorter"/>
	</extension>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
	   id="ArcitechtualConsistencyProposalComputer"
	   name="Architectural consistency Proposal Computer">
	   <javaCompletionProposalComputer
	   	  activate="true"
	      class="net.sourceforge.actool.jdt.proposals.ProposalComputer"
	      categoryId="org.eclipse.ui.texteditor.Architectural_consistency_proposals">
	      <partition type="__dftl_partition_content_type"/>
	   </javaCompletionProposalComputer>
	 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="jittac.jdt.commands.DisableJavaCodeAnalysisHandler"
          commandId="jittac.commands.disableCodeAnalysis">
       <enabledWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.core.resources.IProject">
                   <and>
                      <test
                            property="org.eclipse.core.resources.open"
                            value="true">
                      </test>
                      <test
                            property="org.eclipse.core.resources.projectNature"
                            value="net.sourceforge.actool.jdt.ACNatureJDT">
                      </test>
                   </and>
                </adapt>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="jittac.jdt.commands.EnableJavaCodeAnalysisHandler"
          commandId="jittac.commands.enableCodeAnalysis">
       <enabledWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.core.resources.IProject">
                   <and>
                      <test
                            property="org.eclipse.core.resources.open"
                            value="true">
                      </test>
                      <test
                            property="org.eclipse.core.resources.projectNature"
                            value="org.eclipse.jdt.core.javanature">
                      </test>
                      <not>
                         <test
                               property="org.eclipse.core.resources.projectNature"
                               value="net.sourceforge.actool.jdt.ACNatureJDT">
                         </test>
                      </not>
                   </and>
                </adapt>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
 </extension>
</plugin>
