<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.actool.model.ia">
      <model
            class="net.sourceforge.actool.ncc.NCCModelFactory"
            id="net.sourceforge.actool.model.ia.ncc">
      </model>
   </extension>

</plugin>
